/*
 * Copyright (C) Apis Networks, Inc - All Rights Reserved.
 *
 * Unauthorized copying of this file, via any medium, is
 * strictly prohibited without consent. Any dissemination of
 * material herein is prohibited.
 *
 * For licensing inquiries email <licensing@apisnetworks.com>
 *
 * Written by Matt Saladna <matt@apisnetworks.com>, March 2020
 */

.ui-autocomplete .ui-menu-item .badge {
	color: MenuText;
}

.ui-action-restore.redo::before {
	transform: scaleX(-1);
}

.ui-action-restore.redo + span {
	text-decoration: line-through;
}