#disabled_mailbox_routes, #mailbox_routes {

}

#mailbox_routes tr td:first-child, #disabled_mailbox_routes tr td:first-child {
	width: 50px;
}

.edited {
	background: yellow !important;
}

td#task_switcher {
	padding: 5px;
	font-weight: normal;
	text-align: right;
}

.select_button {
	float: left;
	width: 33%;
}

td.checkbox {
	vertical-align: middle;
	padding-top: 5px;
}

.mb {
	padding-left: 20px;
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-position: left 4px;
}

td.actions a {
	visiblity: hidden;
}

tr.entry:hover td.actions a {
	visibility: visible;
}

.ui-app .actions {
	margin: 0 auto;
}

.type-L, .mb-local {
	background-image: url(/images/apps/mailboxroutes/mail-mailbox.gif);
}

.type-F, .mb-forward {
	background-image: url(/images/apps/mailboxroutes/mail-forward.gif);
}

.type-P, .mb-program {
	background-image: url(/images/apps/mailboxroutes/mail-program.gif);
}

.type-L, .type-F, .type-P {
	text-indent: -99999999em;
	display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

span.forward-overflow {
	white-space: pre-wrap;
	background: #fffbce;
	width: 300px;
	padding: 5px;
	line-height: 1.5em;
	border: 1px solid #deb887;
	overflow: visible;
	display: block;
	position: absolute;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity: 0.97;
}

ul.forward-list li.fl-head {
	font-weight: bold;
}

ul.forward-list li {
	padding: 3px;
	display: inline;
	float: left;
	width: 48%;
	margin: 0;
	border-top: 1px solid #F5DEB3;

}

ul.forward-list li.fl-head {
	border: 0 none;
}

span.forward-hide {
	opacity: 0;
	filter: alpha(opacity=0);
}

#edit_div {
	display: none;
}

.jqi h3 {
	margin-left: -5px;
}

table#mailbox_legend td {
	padding: 2px;

}

span.mailbox img {
	padding-right: 5px;
}

.jqimessage {
	background: #FFFFE0 !important;
}

#edit_table {
	width: 100%;
}

#edit_table td {
	background: transparent;
}

#edit_table .head4 {
	padding-left: 0;
}

#edit_table .text-disabled {
	font-style: normal;
}

#edit_table .sub_item {
	background: #FFFFEC;
}

.dropdown {
	float: right;
}

.option {
	float: left;
	vertical-align: middle;
}

.option_details {
	clear: both;
	padding-left: 20px;
	display: none;
}

.option_col2, .option_col3 {
	float: left;
}

.option_col3 {
	width: 33%;
}

.option_col2 {
	width: 50%;
}

.forwarded select {
	width: 100px;
}

.legend {
	color: #999;
	text-transform: uppercase;
	font-size: .90em;
}

#ui-app td {
	vertical-align: middle;
}

#mailbox_routes textarea {
	width: 98%;
	overflow-y: scroll;
	height: 6em;
}

.email-type-column {
	width: 5em;
	float: left;
	position: relative;
}

.email-type-column div {
	width: 1px;
	height: 10em;
	margin: auto;
	background: #4f4f4f;
}

.email-type-column span {
	background: #fff;
	padding: 0.25em 1em;
	position: absolute;
	margin-left: 1em;
	margin-top: 4em;
	left: 0;
	top: 0;
	display: block;
}

/** filter */

#reset_filter {
	margin-left: 10px;
	display: none;
}

.ui-active-filters li {
	text-indent: 20px;
	background-repeat: no-repeat;
	line-height: 16px;
	display: inline-block;
	margin: 0.5em 1em 0.5em 0;
	cursor: pointer;
	color: #666;
}

.ui-active-filters li:hover {
	color: #000;
}

.ui-active-filters li:after {
	font-size: smaller;
	color: #999;
}

.filter-user:after {
	content: " (user)";
}

.filter-domain:after {
	content: " (domain)";
}

.filter-destination:after {
	content: " (destination)";
}

.filter-type:after {
	content: " (type)";
}

/** end filter */

.catch-all-container {
	display: block;
	clear: both;
}

#address-entry li {
	display: block;
	float: left;
	margin-right: 5px;
}

#address-entry li.username, #address-entry li.at {
	margin-right: 0;
}

#address-entry li.at {
	font-size: 2em;
}

#address-entry li.domain {
	text-align: center;
}

#bulk-add-form {
	margin-top: 1em;
}

#bulk-entry {
	display: block;
	min-height: 50px;
	margin: 0.5em 0;
}

#bulk-add-form {
	display: none;
}

#address-entry > div {
	left: -2px;
}

#address-entry > div:first-of-type {
	left: 0;
}

.entry .ui-action-vacation {
	display: none;
}

.entry.vacation .ui-action-vacation {
	display: inline-block;
}

#toolbox-gutter {
	position: relative;
}