zend_extension={{ php_module_directory }}/opcache.so
; Tuned by telemetry module
opcache.memory_consumption=64M
; Tuned by telemetry module
opcache.interned_strings_buffer=4
; Tuned by telemetry module
opcache.max_accelerated_files=2048
opcache.revalidate_freq=3
opcache.enable_cli=0
opcache.load_comments=0
opcache.enable_file_override=1
opcache.validate_timestamps=1
; Enabling may cause shmop deadlocks
opcache.huge_code_pages={{ php_use_huge_code_pages | default(true) | ternary("1", "0") }}
; Cannot redeclare class errors
; more prevalent on large servers
opcache.dups_fix=0
