[Unit]
Description=systemd runtime for virtual accoutns
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/run/systemd
Where={{ apnscp_shared_root }}/systemd
Type=none
Options=rbind,make-rslave

[Install]
WantedBy=local-fs.target
